body {
    background-color:  #17202a;
}

* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    width: 25%;
    padding: 5px;
}
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:  #ecf0f1;
}

